@model dynamic
@{
    ViewBag.Current = "Home";
}
<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 block">
            <h1 class="ms-font-xl ms-fontColor-themePrimary">Claims-aware Remote-Web</h1>
            <h2 class="ms-font-l ms-fontColor-themePrimary">Welcome: @ViewBag.DisplayName</h2>
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm3 block">
            <h3 class="ms-font-m ms-fontColor-themePrimary">SharePoint Identity:</h3>
            <p class="ms-font-m ms-fontWeight-regular">SharePoint User: @ViewBag.SharePointUser</p>
            <p class="ms-font-m ms-fontWeight-regular">SharePoint User Name Id: @ViewBag.SharePointUserNameId</p>
            <p class="ms-font-m ms-fontWeight-regular">SharePoint User name Id Issuer: @ViewBag.SharePointUserNameIdIssuer</p>
            <p class="ms-font-m ms-fontWeight-regular">SharePoint Web: @ViewBag.SharePointWeb</p>
        </div>
        <div class="ms-Grid-col ms-u-sm9 block">
            <h3 class="ms-font-m ms-fontColor-themePrimary">Claims Identity:</h3>
            <div class="ms-Table">
                <div class="ms-font-m ms-fontWeight-regular ms-Table-row">
                    <span class="ms-Table-row">
                        <span class="ms-Table-cell ms-fontWeight-semibold">
                            IsAuthenticated
                        </span>
                        <span class="ms-Table-cell">
                            @ViewBag.ClaimsIdentity.IsAuthenticated
                        </span>
                    </span>
                    <span class="ms-Table-row">
                        <span class="ms-Table-cell  ms-fontWeight-semibold">
                            Name
                        </span>
                        <span class="ms-Table-cell">
                            @ViewBag.ClaimsIdentity.Name
                        </span>
                    </span>
                </div>
            </div>
            <h3 class="ms-font-m ms-fontColor-themePrimary">Claims from ClaimsIdentity</h3>

            <div class="ms-Table">
                <div class="ms-Table-row">
                    <span class="ms-Table-rowCheck"></span>
                    <span class="ms-Table-cell">
                        Claim Type
                    </span>
                    <span class="ms-Table-cell">
                        Claim Value
                    </span>
                    <span class="ms-Table-cell">
                        Value Type
                    </span>
                    <span class="ms-Table-cell">
                        Subject Name
                    </span>
                    <span class="ms-Table-cell">
                        Issuer Name
                    </span>
                </div>

                @foreach (System.Security.Claims.Claim claim in ViewBag.ClaimsIdentity.Claims)
                {
                    <div class="ms-Table-row">
                        <span class="ms-Table-rowCheck"></span>
                        <span class="ms-Table-cell">
                            @claim.Type
                        </span>
                        <span class="ms-Table-cell">
                            @claim.Value
                        </span>
                        <span class="ms-Table-cell">
                            @claim.ValueType
                        </span>
                        <span class="ms-Table-cell">
                            @claim.Subject.Name
                        </span>
                        <span class="ms-Table-cell">
                            @claim.Issuer
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {
            $.fn.TableRow = function () {

                /** Go through each row */
                return this.each(function () {

                    var $tableRow = $(this);

                    /** Detect clicks on selectable list items. */
                    $tableRow.on('click', '.ms-Table-rowCheck', function (event) {
                        $(this).parents('.ms-Table-row').toggleClass('is-selected');
                    });
                });
            };
            if ($.fn.TableRow) {
                $('.ms-Table-row').TableRow();
            }
        });
    </script>
}
